*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%; 
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
}

#main-container{
    width: 100%;
    background-color: #9e9e9e;
}

#main-container > #btn-open{
    width: 100px;
    background-color: #2798e0;
    color: #fff;
    border-radius: 6px;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 20px;
    left: calc(50% - 50px);
    z-index: 999;
}

#main-container > #pages-container > #page-1, #main-container > #pages-container > #page-2{
    width: calc(100% - 40px);
    height: 100vh;
    padding: 20px;
}

#main-container > #pages-container > #page-1{
    background-color: #112a39;
}

#main-container > #pages-container > #page-2{
    background-color: #982268;
}

#overlay{
    background-color: rgba(206, 16, 16, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 9;
}

#dialog{
    background-color: #fff;
    position: absolute;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    width: 100%;
    height: 140px;
    text-align: center;
    display: none;
    z-index: 999;
}

#dialog > .text{
    margin: 20px 0 25px 0;
    font-size: 18px;
    color: #333333;
}

#dialog > button{
    background-color: #2798e0;
    padding: 15px 90px;
    border: 0;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
}