*{
    margin: 0;
    padding: 0;
}

.info{
    position: fixed;
    width: 100%;
    text-align: center;
    top: 50px;
}

.main-container{
    width: 100%;
    height: 200%;
}

.page-1{
    width: 100%;
    height: 100vh;
    background-color: #ccc;
}

.button{
    background-color: #494949;
    color: #fff;
    width: 200px;
    padding: 20px;
    margin: auto;
    text-align: center;
    position: absolute;
    display: none;
}