*{
    margin: 0;
    padding: 0;
}

.page-1{
    width: 100%;
    height: 200%;
}

.main-container{
    height: 100vh;
    width: 100%;
    background-color: #ccc;
}

.button{
    background-color: #494949;
    color: #fff;
    width: 200px;
    padding: 20px;
    top: calc(100vh - 80px);
    margin: auto;
    text-align: center;
    position: relative;
}